body {
    font-family: serif;
    color: #202020;
}

h1,
h2 {
    font-size: 2em;
    text-transform: uppercase;
}

.logoNavBar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}