body {
  font-family: serif;
  color: #202020;
}

h1, h2 {
  font-size: 2em;
  text-transform: uppercase;
}

/*CSS Para NAVBAR LOGO */

.navbarLogo {
  position: absolute;
  top: -47px;
  z-index: 3;
}

.logoIMG {
  display: block;
  width: 70%;
  height: 75%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 120%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.navbarLogo:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*FIN NAVBAR*/

/*Animacion NAVBAR*/

#copa {
  width: 70px;
  height: 70px;
  margin: 50px auto;
  position: absolute;
  left:0%;
  border-radius: 50%;
  animation-name: fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from{
      margin-left: 0%;
    }
    to {
      margin-left: 50%;
    }
}

/*FIN BOLA*/