body {
    font-family: serif;
    color: #202020;
}

h1,
h2 {
    font-size: 2em;
    text-transform: uppercase;
}

.navbar{
    position: absolute; 
    left: 50%; 
    top: 10px; 
    z-index: 3;
}