/* IN GENERAL */
main{
  padding-top: 60px;
  padding-left:50px;
  padding-right:50px;
}
.team > img{
  width: 100%;
  margin-bottom: 30px;
}

.divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Developers section*/
.developers{
  display: grid;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.developer-card {
  perspective: 40 rem;
}

.developer-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.developer-card:hover .developer-card-inner {
  transform: rotateY(180deg);
}

.developer-card-front, .developer-card-back {
  backface-visibility: hidden;
}

.developer-card-back {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform: rotateY(180deg);
  background-color: white;
}

.developer-img {
  width: 100%;
  max-width: 500px; /*A controlar*/
}

/* Thin out the developers headings */
.developer-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS */
@media (min-width: 40em) {
  .developer-heading {
    font-size: 50px;
  }
  .developer-divider {
    margin: 3.5rem 0; /* Space out the Bootstrap <hr> more */
  }
  .team > img{
    margin-bottom: 50px;
  }
}

@media (min-width: 62em) {
  .developer-heading {
    margin-top: 7rem;
  }
  .developer-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
}
